<br>
<div class="row">
    <div class="col-12">
        <div class="jumbotron titleJumbotron">
            <div class="headerDivJumbotron">
                <div id="headerJumbotron">Mongo Scraper</div>
                <div id="subheaderJumbotron">Brought to you by Himalayan Times</div>
            </div>
        </div>
    </div>
</div>